<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="order">
  <insert id="insertOrder">
  	insert into merchant
  	values(
  		#{merchantUid},
  		#{memberNo},
  		default,
  		default,
  		'COM',
  		#{pointValue},
  		#{productPrice},
  		#{shippingFee},
  		#{totalPrice},
  		null
  	)
  </insert>
  
  <update id="insertOrderDetail">
  	<foreach collection="list" item="item" separator="," open="INSERT ALL" close="SELECT * FROM DUAL">
  		into
  			merchant_detail
  		values(
  			#{item.merchantUid},
  			#{item.detailNo},
  			#{item.buyCount}
  		)
  	</foreach>
  </update>
  
  <insert id="insertImp">
  	insert into imp
  	values(
  		#{impUid},
  		#{merchantUid},
  		#{pgProvider},
  		#{name},
  		#{payMethod},
  		#{amount},
  		#{buyerAddr},
  		#{buyerEmail},
  		#{buyerName},
  		#{buyerPostcode},
  		#{buyerPhone}
  	)
  </insert>
</mapper>