@charset "UTF-8";

/* 사이드바 래퍼 스타일*/

#page-wrapper {
  padding-left: 250px;
}

#sidebar-wrapper {
  position: fixed;
  width: 250px;
  height: 100%;
  margin-left: -250px;
  background: #1467CC;

}

#page-content-wrapper {
  width: 100%;
  padding: 20px;
}

/* 사이드바 스타일 */
 
.sidebar-nav {
  width: 250px;
  margin: 100px 0px;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 1.5em;
  line-height: 2.8em;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 30px;
  font-weight: bold;
  margin: 20px 0px;
}

.sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav > .sidebar-brand {
  font-size: 1.3em;
  line-height: 3em;
  margin-bottom: 50px;
}

/* 페이지 버튼 가운데 정렬 */
.pagination {
	justify-content: center;
}

/* 상단 검색바 크기 밑 가운데 정렬*/
.search-container {
	width: 700px;
	margin-left: 450px;
}

#myTab {
	position: relative;
}

#bottomButton {
	text-align: center;
}

/* 좋아요, 신고하기 버튼 가운데 정렬*/
#like, #report {
	text-align: center;
}

#contentName {
	font-size: xx-large;
	font-weight: bolder;
}

/* 대댓글 */
#level2Reply {
	padding-left: 100px;
}

/* 댓글 */

#commentList li:hover button.commentBtn {
	display: inline;
}


