<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="productCategory">
	
<select id="selectAllParentCategory" resultType="ProductParentCategory">
	select
		*
	from
		product_parent_category
</select>
		
<select id="selectAllChildCategory" resultType="ProductChildCategory">
	select
		*
	from
		product_child_category
</select>		
		
<select id="searchChildCategory" resultType="ProductChildCategory">
	select
		*
	from
		product_child_category
	where
		parent_category_code = #{code}
</select>

<!-- 대분류 카테고리 등록  -->	
<insert id="insertParentCategory">
insert into
	product_parent_category
values(
	#{categoryCode},
	#{categoryTitle}
)
</insert>

<!-- 소분류 카테고리 등록  -->	
<insert id="insertChildCategory">
insert into
	product_child_category
values(
	#{categoryCode},
	#{selectParentCategory},
	#{categoryTitle}
)
</insert>
		
<select id="selectParentCategory" resultType="ProductParentCategory">
	select
		*
	from
		product_parent_category
</select>						
		
<!-- 상품 대분류 카테고리 삭제 -->
<delete id="deleteProductCategory">
	delete
		product_parent_category
	where
		parent_category_code = #{deleteParentCategoryCode}
</delete>


<!-- 상품 소분류 카테고리 삭제 -->
<delete id="deleteChildProductCategory">
	delete
		product_child_category
	where
		child_category_code = #{deleteChildCategoryCode}
</delete>

<!-- 해당  코드에 따른 객체 하나 가져오기  -->
<select id="selectCategoryCode" resultType="ProductParentCategory">
	select
	    *   
	from
	    product_parent_category pc  join product_child_category cc
	    on  pc.parent_category_code = cc.parent_category_code
	where
	    pc.parent_category_code = #{afterUpdateCategoryCode} or cc.child_category_code = #{afterUpdateCategoryCode}
</select>


<!-- 해당 이름에 따른 객체 하나 가져오기  -->
<select id="selectCategoryTitle" resultType="ProductParentCategory">
	select
	    *   
	from
	    product_parent_category pc  join product_child_category cc
	    on  pc.parent_category_code = cc.parent_category_code
	where
	    pc.parent_category_title = #{afterUpdateCategoryTitle} or cc.child_category_title = #{afterUpdateCategoryTitle}
</select>

<!-- 대분류 카테고리 업데이트  -->
<update id="updateCategoryToParent">
update
	product_parent_category
set
	<choose>
		<when test="updateKind.equals('updateTitle')">
				parent_category_title = #{updateCategoryTitle}
			where
				parent_category_title = #{beforeTitle}
		</when>
		<when test="updateKind.equals('updateCode')">
				parent_category_code = #{updateCategoryCode}
			where
				parent_category_code = #{beforeCode}
		</when>
	</choose>	

</update>

<!-- 소분류 카테고리 업데이트  -->
<update id="updateCategoryToChild">
update
	product_child_category
set
	<choose>
		<when test="updateKind.equals('updateTitle')">
				child_category_title = #{updateCategoryTitle}
			where
				child_category_title = #{beforeTitle}
		</when>
		<when test="updateKind.equals('updateCode')">
				child_category_code = #{updateCategoryCode}
			where
				child_category_code = #{beforeCode}
		</when>
	</choose>	
	
</update>
		
		
		
		
		
		
</mapper>