<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="productCategory">
	
<select id="selectAllParentCategory" resultType="ProductParentCategory">
	select
		*
	from
		product_parent_category
</select>
		
<select id="selectAllChildCategory" resultType="ProductChildCategory">
	select
		*
	from
		product_child_category
</select>		
		
<select id="searchChildCategory" resultType="ProductChildCategory">
	select
		*
	from
		product_child_category
	where
		parent_category_code = #{code}
</select>

<!-- 대분류 카테고리 등록  -->	
<insert id="insertParentCategory">
insert into
	product_parent_category
values(
	#{categoryCode},
	#{categoryTitle}
)
</insert>

<!-- 소분류 카테고리 등록  -->	
<insert id="insertChildCategory">
insert into
	product_child_category
values(
	#{categoryCode},
	#{selectParentCategory},
	#{categoryTitle}
)
</insert>
		
<select id="selectParentCategory" resultType="ProductParentCategory">
	select
		*
	from
		product_parent_category
</select>						
		
<!-- 상품 대분류 카테고리 삭제 -->
<delete id="deleteProductCategory">
	delete
		product_parent_category
	where
		parent_category_code = #{deleteParentCategoryCode}
</delete>


<!-- 상품 소분류 카테고리 삭제 -->
<delete id="deleteChildProductCategory">
	delete
		product_child_category
	where
		child_category_code = #{deleteChildCategoryCode}
</delete>

<!-- 해당 대분류 코드에 따른 객체 하나 가져오기  -->
<select id="selectOneParentCategoryCode" resultType="ProductParentCategory">
	select
		*
	from
		product_parent_category
	where
		parent_category_code = #{updateCategoryCode}
</select>
		
<!-- 해당 소분류 코드에 따른 객체 하나 가져오기  -->
<select id="selectOneChildCategoryCode" resultType="ProductChildCategory">
	select
		*
	from
		product_parent_category
	where
		parent_category_code = #{updateCategoryCode}
</select>
		
		
		
		
</mapper>