<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="community">
  <!-- 컬럼 글쓰기 -->
  <insert id="insertColumn">
  	insert into
  		community
  	values(
  		seq_community_no.nextval,
  		#{memberNo},
  		1,
  		#{title},
  		#{content},
  		default,
  		default,
  		default,
  		default,
  		default,
  		#{thumbnail}
  	)
  </insert>
  
  <!-- 컬럼 리스트 조회 -->
  <select id="selectColumnList" resultType="community">
  	select
  		*
  	from
  		community
  	where
  		page_code = 1
  	order by
  		community_no desc
  </select>
  
  <!-- 베스트 컬럼리스트 조회 -->
  <select id="columnBestList" resultType="community">
  	select
  		*
  	from
  		community
  	order by
  		like_count desc
  </select>
  
  <!-- 자유게시판 글쓰기 -->
    <insert id="insertFreeboard">
  	insert into
  		community
  	values(
  		seq_community_no.nextval,
  		#{memberNo},
  		4,
  		#{title},
  		#{content},
  		default,
  		default,
  		default,
  		default,
  		#{hashtag},
  		#{thumbnail}
  	)
  </insert>
  
    <!-- 자유게시판 리스트 조회 -->
  <select id="selectFreeboardList" resultType="communityEntity">
	select
	    c.*,
	    (select nickname from member where member_no = c.member_no) nickname
	from
	    community c
	order by
	    community_no desc
  </select>
  
</mapper>