<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="community">
  <!-- 컬럼 글쓰기 -->
  <insert id="insertColumn">
  	insert into
  		community
  	values(
  		seq_community_no.nextval,
  		#{memberNo},
  		1,
  		#{title},
  		#{content},
  		default,
  		default,
  		default,
  		default,
  		#{hashtag},
  		#{thumbnail}
  	)
  </insert>
  
  <!-- 커뮤니티 통합 글쓰기 -->
  <insert id="insertCommunityWriteEnroll">
	insert into
		community
	values(
		seq_community_no.nextval,
		#{memberNo},
		#{pageCode},
		#{title},
		#{content},
		default,
		default,
		default,
		default,
		#{hashtag},
		#{thumbnail}
	)
  </insert>
  
  <insert id="insertCommunityReport">
 	insert into
		report
	values(
		seq_report_no.nextval,
		#{reasonCate}, 
		#{reportRootCate},
		#{memberNo}, 
		#{id}, 
		#{targetPkNo}, 
		#{reportContent}, 
		#{sideNote}, 
		default, 
		default, 
		null, 
		null 
	)
  </insert>


  
  
  <!-- 컬럼 리스트 조회 -->
  <select id="selectColumnList" resultType="community">
  	select
  		*
  	from
  		community
  	where
  		page_code = 1
  	order by
  		community_no desc
  </select>
  
  <!-- 베스트 컬럼리스트 조회 -->
  <select id="columnBestList" resultType="community">
  	select
  		*
  	from
  		community
  	order by
  		like_count desc
  </select>
  
  
  <!-- 자유게시판 리스트 조회 -->
  <select id="selectFreeboardList" resultType="communityEntity">
	select
	    c.*,
	    (select nickname from member where member_no = c.member_no) nickname
	from
	    community c
	where
		page_code = 4
	order by
	   community_no desc
  </select>
  
  <!-- 자유게시판 총 게시물 수 -->
  <!-- select 태그의 resultType, 혹은 resultMap은 반드시 써준다. -->
  <!-- 기본형 int일때는 _int라는 alias를 mybatis에서 제공한다. -->
  <select id="selectFreeboardCount" resultType="_int">
  	select
  		count(*)
  	from
  		community
  	where
  		page_code = 4
  </select>
  
  <!-- 자유게시판 상세보기 -->
  <select id="selectOneFreeBoard" resultType="communityEntity">
	select
	    c.*,
	    (select nickname from member where member_no = c.member_no) nickname,
	    (select authority from authorities where member_no = c.member_no) authority
	from
	    community c
  	where
  		community_no = #{community_no}
  </select>
  
  <!-- 자유게시판 수정하기 -->
  <update id="updateFreeboard">
  	update
	    community
	set
	    title = #{title},
	    content = #{content},
	    enroll_date = default,
	    hashtag = #{hashtag},
	    thumbnail = #{thumbnail}
	where
	    community_no = #{communityNo}
  </update>
  
  <!-- 자유게시판 삭제하기 -->
  <delete id="freeboardDelete">
  	delete from 
    	community 
	where
    	community_no = #{communityNo}
  </delete>
  <!-- 자유게시판 댓글 -->
  <select id="selectFreeboardCommentList" resultType="communityCommentEntity">
  	select
	    c.*,
	    (select nickname from member where member_no = c.member_no) nickname
	from
	    community_comment c
	where
	    community_no = #{communityNo}
	start with
	    comment_level = 1
	connect by
	    prior comment_no = comment_ref_no
	order siblings by
	    reg_date desc
  </select>
  
  <!-- 댓글 입력 -->
  <insert id="insertFreeboardComment">
  	insert into community_comment
  	values(
  		seq_community_comment_no.nextval,
  		#{memberNo},
  		<choose>
			<when test="commentRefNo eq 0">
				null,
			</when>
			<when test="commentRefNo != 0">
				#{commentRefNo},
			</when>
  		</choose>
  		#{communityNo},
  		#{commentLevel},
  		#{content},
  		default
  	)
  </insert>
  
  <!-- 댓글 삭제 -->
  <delete id="commentDelete">
  	delete from 
    	community_comment 
	where
    	comment_no = #{commentNo}
  </delete>
  
  <!-- 조회수 증가 -->
  <update id="viewCount">
  	update
	    community
	set
	    view_count = view_count + 1
	where
	    community_no = #{communityNo}
  </update>
  
  <!-- 자유게시판 타입별 검색 -->
  <select id="selectFreeboardListByType" resultType="communityEntity">
  	select
	    c.community_no,
	    c.title,
	    m.nickname,
	   	c.enroll_date,
	   	c.like_count,
	   	c.view_count
	from
	    community c join member m on
	    c.member_no = m.member_no
	where
		page_code = 4 and
        ${searchType} like '%'|| #{searchKeyword} ||'%'	
	order by
	    community_no desc
  </select>
  
  <!-- 자유게시판 타입별 검색 결과 카운팅 -->
  <select id="selectFreeboardTotalCountByType" resultType="_int">
  	select
  		count(*)
  	from
  		community c join member m on
	    c.member_no = m.member_no
  	where
  		page_code = 4 and 
  		${searchType} like '%'|| #{searchKeyword} || '%'
  	order by
  		community_no desc
  </select>
  
  <!-- 자유게시판 좋아요 선택 유무 확인 -->
  <select id="didIHitLikes" resultType="_int">
  	select
  		count(*)
  	from
  		member_community_likee
  	where
  		member_no = #{memberNo} and
  		community_no = #{communityNo}
  </select>
  
  <!-- 자유게시판 좋아요 추가 -->
  <update id="freeboardLikeAdd">
  	update
  		community
  	set 
  		like_count = like_count + 1
  	where
  		community_no = #{communityNo}
  </update>
  
  <insert id="insertMemberCommunityLike">
  	insert into
  		member_community_likee
  	values (#{communityNo}, #{memberNo})
  </insert>
  
  <delete id="deleteMemberCommunityLike">
  	delete
  		member_community_likee
  	where
  		community_no = #{communityNo} and
  		member_no = #{memberNo}
  </delete>
  
  <select id="refreshCountLike" resultType="_int">
  	select
  		like_count
  	from
  		community
  	where
  		community_no = #{communityNo}
  </select>
  
  <!-- 자유게시판 좋아요 삭제 -->
  <update id="freeboardLikeDelete">
  	update
  		community
  	set
  		like_count = like_count - 1
  	where
  		community_no = #{communityNo}
  </update>
  

</mapper>