<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="product">

	<!-- 상품 테이블 추가  -->
	<insert id="insertProduct">
	insert into product
	values(
		#{productCode} ||'-'||seq_product_no.nextval,
		#{name},
		#{price},
		sysdate,
		null,
		#{content},
		#{viewCount},
		#{status}
	)	
	
	<selectKey keyProperty="productCode" resultType="String" order="AFTER">
		SELECT
		   A.PRODUCT_CODE
		FROM (
		   SELECT
		      PRODUCT_CODE,
		      ROW_NUMBER() OVER(ORDER BY REG_DATE DESC) RN
		   FROM PRODUCT
		   ORDER BY REG_DATE DESC
		) A
		WHERE RN = 1
		
	</selectKey>
	
	</insert>
	
	<!-- 상품 분류 테이블 추가 -->
	<insert id="insertProductCategory">
		insert into
			product_category
		values(
			#{childCategoryCode},
			#{productCode}
		)
	
	<!-- 상품 상세 테이블 추가 -->			
	</insert>
	
		<insert id="insertProductDetail">
		insert into
			product_detail
		values(
			seq_product_detail_no.nextval,
			#{productCode},
			#{optionNo},
			#{optionContent},
			#{sku},
			#{quantity}
		)
				
	</insert>
	<!-- nextval 번호까지 붙은 thumbnail 값 가져오기 (최근 등록된) -->
	<select id="selectRealProductImg" resultType="String">
		SELECT
		   A.PRODUCT_CODE
		FROM (
		   SELECT
		      PRODUCT_CODE,
		      ROW_NUMBER() OVER(ORDER BY REG_DATE DESC) RN
		   FROM PRODUCT
		   ORDER BY REG_DATE DESC
		) A
    	WHERE RN = 1			
	</select>
	
	
	<!-- 상품 리스트   -->
	<select id="selectAllProductList" resultType="Product">
			select * from product order by reg_date desc
	</select>
	

	<!-- 상품 게시물 수  -->
	<select id="selectTotalBoardCount" resultType="_int" >
		select
			count(*)
		from
			product p left join product_category pc
		        on p.product_code = pc.product_code
		    left join product_detail pd 
		        on pc.product_code = pd.product_code
	</select>


	<!-- 비동기로 옵션값 가져오기 -->
	<select  id="findProductOption" resultType="ProductDetail">
		select
			*
		from
			product_detail
		where
			product_code = #{productCode}				
	</select>


	<!-- 상품 삭제 -->
	<delete id="deleteProduct">
		delete
			product
		where
			product_code = #{productCode}
	</delete>

	<!-- 상품상세에서 사용할 정보 가져오기 -->
	<select id="selectProductOne" resultType="ProductExtends">
		select
            p.name,
		    p.thumbnail,
		    p.price,
		    p.status,
            p.content,
            substr(p.product_code,1,2) parent_category_code,
            substr(p.product_code,4,2) child_category_code,
             (select child_category_title from PRODUCT_CHILD_CATEGORY where  child_category_code = substr(p.product_code,4,2)) child_category_title,
		    p.reg_date,
		    p.view_count
		from
            product p
        where        
            p.product_code = #{productCode}     
        order by reg_date desc
	
	</select>
	
	<!-- 상품 디테일정보 가져오기 -->
	<select id="selectProductDetail" resultType="ProductDetail">
		select
			*
		from
			product_detail
		where
			product_code = #{productCode}
				
	</select>
	
	<!-- 상품 정보 업데이트  -->
	<update id="updateProduct">
		update
			product
		set
			name = #{name},
			price = #{price},
			thumbnail = #{thumbnail},
			content = #{content},
			status = #{status}
		where
			product_code = #{productCode}
	</update>






	<!--태영 끝-->
	





		
	<!-- 혜진 시작 -->
	<select id="selectProductListByProductCode" resultType="product">
		select
			*
		from
			product
		where
			product_code like '%'||#{searchCode}||'%'
	</select>
	<!-- 혜진 끝 -->
	
</mapper>



