<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="product">
	<insert id="insertProduct">
	insert into product
	values(
		#{productCode},
		#{name},
		#{price},
		sysdate,
		null,
		#{content},
		#{viewCount},
		#{status}
	)	
	
	</insert>
	
	<insert id="insertProductCategory">
		insert into
			product_category
		values(
			#{childCategoryCode},
			#{productCode}
		)
				
	</insert>
	
	<!-- 혜진 시작 -->
	<select id="selectProductListByProductCode" resultType="product">
		select
			*
		from
			product
		where
			product_code like '%'||#{searchCode}||'%'
	</select>
	<!-- 혜진 끝 -->
	
</mapper>



