<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="product">

	<!-- 상품 테이블 추가  -->
	<insert id="insertProduct">
	insert into product
	values(
		#{productCode} ||'-'||seq_product_no.nextval,
		#{name},
		#{price},
		sysdate,
		#{productCode} ||'-'||seq_product_no.nextval ||'.png',
		#{content},
		#{viewCount},
		#{status},
		default
		
	)	
	
	<selectKey keyProperty="productCode" resultType="String" order="AFTER">
		SELECT
		   A.PRODUCT_CODE
		FROM (
		   SELECT
		      PRODUCT_CODE,
		      ROW_NUMBER() OVER(ORDER BY REG_DATE DESC) RN
		   FROM PRODUCT
		   ORDER BY REG_DATE DESC
		) A
		WHERE RN = 1
		
	</selectKey>
	
	</insert>
	
	<!-- 상품 분류 테이블 추가 -->
	<insert id="insertProductCategory">
		insert into
			product_category
		values(
			#{childCategoryCode},
			#{productCode}
		)
	
	<!-- 상품 상세 테이블 추가 -->			
	</insert>
	
		<insert id="insertProductDetail">
		insert into
			product_detail
		values(
			seq_product_detail_no.nextval,
			#{productCode},
			#{optionNo},
			#{optionContent},
			#{sku},
			#{quantity}
		)
				
	</insert>
	<!-- nextval 번호까지 붙은 thumbnail 값 가져오기 (최근 등록된) -->
	<select id="selectRealProductImg" resultType="String">
		SELECT
		   A.PRODUCT_CODE
		FROM (
		   SELECT
		      PRODUCT_CODE,
		      ROW_NUMBER() OVER(ORDER BY REG_DATE DESC) RN
		   FROM PRODUCT
		   ORDER BY REG_DATE DESC
		) A
    	WHERE RN = 1			
	</select>
	
	
	<!-- 상품 리스트   -->
	<select id="selectAllProductList" resultType="productEntity">
			select
				product_code,
				thumbnail,
				name,
				status,
				reg_date,
				view_count 
			from product order by reg_date desc
	</select>
	

	<!-- 상품 게시물 수  -->
	<select id="selectTotalBoardCount" resultType="_int" >
		select
			count(*)
		from
			product p left join product_category pc
		        on p.product_code = pc.product_code
		    left join product_detail pd 
		        on pc.product_code = pd.product_code
	</select>

	<!-- 상품 삭제 -->
	<delete id="deleteProduct">
		delete
			product
		where
			product_code = #{productCode}
	</delete>

	<!-- 상품상세에서 사용할 정보 가져오기 -->
	<select id="selectProductOne" resultType="productEx">
		select
            p.name,
		    p.thumbnail,
		    p.price,
		    p.status,
            p.content,
            substr(p.product_code,1,2) parent_category_code,
            substr(p.product_code,4,3) child_category_code,
             (select child_category_title from PRODUCT_CHILD_CATEGORY where  child_category_code = substr(p.product_code,4,3)) child_category_title,
		    p.reg_date,
		    p.view_count
		from
            product p
        where        
            p.product_code = #{productCode}     
        order by reg_date desc
	
	</select>
	
	<!-- 상품 디테일정보 가져오기 -->
	<select id="selectProductDetail" resultType="productDetail">
		select
			*
		from
			product_detail
		where
			product_code = #{productCode}
	</select>
	
	<!-- 상품 정보 업데이트  -->
	<update id="updateProduct">
		update
			product
		set
			name = #{name},
			price = #{price},
			thumbnail = #{thumbnail},
			content = #{content},
			status = #{status}
		where
			product_code = #{productCode}
	</update>
	
	<update id="updateOption">
		update
			product_detail
		set 	
			option_no = #{optionNo},
			option_content = #{optionContent},
			sku = #{sku},
			quantity = #{quantity}
		where
			product_code = #{productCode} and
			detail_no = #{detailNo}
					
	</update>
	
	<!-- 옵션 삭제  -->
	<delete id="deleteOption">
		delete
			product_detail
		where
			detail_no = #{detailNo}
	</delete>
	<!-- 옵션 추가 -->
	<insert id="insertOption">
		insert into
			product_detail
		values(
			#{detailNo},
			#{productCode},
			#{optionNo},
			#{optionContent},
			null,
			#{quantity}
		)
	</insert>


	<!--태영 끝-->
	





		
	<!-- 혜진 시작 -->
	<select id="selectProductListByProductCode" resultType="productEntity">
		select
			*
		from
			product
		where
			product_code like '%'||#{searchCode}||'%'
	</select>
	<!-- 혜진 끝 -->
	
	
	<!--다현 - 상세 페이지 뿌리기 위한 item 받아오기-->
	<select id="selectOneItem" resultType="productEx">
		select
			*
		from 
			view_product_all_info
		where 
			product_code = #{productCode}
	</select>
	<!--다현 - 상세 페이지 뿌리기 위한 item 받아오기 끝-->
	
	<!-- 혜진 mapper 시작 -->
	<select id="selectOneProductByDetailNo" resultMap="productCollection">
		select
		    p.*,
		    d.detail_no,
		    d.option_no,
		    d.option_content,
		    d.sku,
		    d.quantity
		from
		    product p left join product_detail d
		        on p.product_code = d.product_code
		where
		    d.detail_no = #{detailNo}
	</select>
	<resultMap type="product" id="productCollection">
		<id column="product_code" property="productCode"/>
		<result column="name" property="name"/>
		<result column="price" property="price"/>
		<result column="reg_date" property="regDate"/>
		<result column="thumbnail" property="thumbnail"/>
		<result column="content" property="content"/>
		<result column="view_count" property="viewCount"/>
		<result column="status" property="status"/>
		<result column="order_count" property="orderCount"/>
		<association property="productDetail" javaType ="productDetail">
			<id column="detail_no" property="detailNo"/>
			<result column="option_no" property="optionNo"/>
			<result column="option_content" property="optionContent"/>
			<result column="sku" property="sku"/>
			<result column="quantity" property="quantity"/>
		</association>
	</resultMap>
	<!-- 혜진 mapper 끝 -->
</mapper>



