<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberManage">

<!-- 전체 회원검색  -->
<select id="selectAllMember" resultType="Member">
	select
	    m.member_no,
	    m.id,
	    m.name,
	    m.nickname,
	    m.enroll_date,
	    authority
	from
	    member m join authorities a on
	    m.member_no = a.member_no
</select>

<!-- 번호,아이디,이름,별명으로 회원 검색  -->
<select id="searchMemberList" resultType="Member">
	select
	    m.member_no,
	    m.id,
	    m.name,
	    m.nickname,
	    m.enroll_date,
	    authority
	from
	    member m join authorities a on
	    m.member_no = a.member_no
	where
		${searchType} like '%'|| #{searchKeyword} ||'%'		
</select>

<!-- 권한으로 회원검색  -->
<select id="seachMemberListByAuthority" resultType="Member">
		select
	    m.member_no,
	    m.id,
	    m.name,
	    m.nickname,
	    m.enroll_date,
	    authority
	from
	    member m join authorities a on
	    m.member_no = a.member_no
	where
		authority in
		<foreach collection="searchKeyword" item="item" open="(" separator="," close=")" >
			#{item}
		</foreach>
</select>

<select id="selectTotalMemberCount" resultType="_int">
	select
		count(*)
	from
		member
</select>

<!-- 멤버 권한 수정  -->

<update id="updateAuthority">
	update
		authorities
	set
		authority = #{authority}
	where
		member_no = #{memberNo}

</update>



</mapper>



