<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberManage">


<select id="searchMemberList" resultType="Member">
	select
	    m.member_no,
	    m.id,
	    m.name,
	    m.enroll_date,
	    authority
	from
	    member m join authorities a on
	    m.member_no = a.member_no
	where
		${searchType} = #{searchKeyword}
		
</select>



</mapper>



