@charset "UTF-8";
.admin-tbl th, .admin-tbl td{
	padding: 0.5rem;
	border: 1px solid #e3e6f0;
	text-align : left;
}

/*주문 내역 관리 페이지*/
::-webkit-scrollbar { display: none; }
table { border-collapse: collapse; width: 100%; }
th, td { background: #fff; padding: 8px 16px; }


.order-list{
	height : 300px;
	overflow : auto;
	margin-bottom: 40px;
}
.order-list thead th{
	position : sticky;
	top : 0;
	background-color: #fff;
	padding: 8px 16px;
}
.order-list tbody{
	top : 10px;
	padding: 8px 16px;
}
.order-search-container>label{
	margin-right : 0.5rem;
}
.date-badge{
	cursor : pointer;
}
.orderModalImg{
	width : 150px;
	height : 150px;
	overflow : hidden;
	margin : 0 auto;
}
.orderModalImg img{
	width : 100%;
	height : 100%;
	object-fit : cover;
}

#orderDetailTbl tr{
	border : 0;
	
}

/*배송 관리*/
.shipment-alert{
	display : none;
}
.tracking-no:hover{
	cursor : pointer;
	color : #1A81FF;
}
.tracking-no-badge{
	border : 1px solid #9E9E9E;
	color : #9E9E9E;
}
.tracking-location{
	border-right : 1px solid #9E9E9E;
	padding-right: 0.5rem;
    margin-right: 0.5rem;
}
.tracking-date{
	color : #9E9E9E;
	font-size : x-small;
}
.tracking-icon{
	color : #1A81FF;
	padding: 0.5rem;
    background-color: aliceblue;
    font-size: 2rem;
    border-radius: 2rem;
    width: 60px;
    height: 60px;
    line-height: 40px;
}
/*리뷰 신고*/
.report-save-btn{
	margin-right : 5%;
}

/*이벤트 관리*/

.promotion-btn{
	width : 10%;
	margin : 0 2% 0 2%;
}

#promotionDetailTbl tr{
	text-align : left;
}