@charset "UTF-8";
.admin-tbl{
	width : 90%;
}
.admin-tbl th, .admin-tbl td{
	padding: 0.5rem;
	border: 1px solid #e3e6f0;
}

/*주문 내역 관리 페이지*/
.order-search-container>label{
	margin-right : 0.5rem;
}
.date-badge{
	cursor : pointer;
}
.orderModalImg{
	width : 150px;
	height : 150px;
	overflow : hidden;
	margin : 0 auto;
}
.orderModalImg img{
	width : 100%;
	height : 100%;
	object-fit : cover;
}

#orderDetailTbl tr{
	border : 0;
	
}

/*배송 관리*/
.shipment-alert{
	display : none;
}

/*리뷰 신고*/
.report-save-btn{
	margin-right : 5%;
}

/*이벤트 관리*/
.event-write-btn{
	margin-right : 5%;
}

.promotion-btn{
	width : 10%;
	margin : 0 2% 0 2%;
}

#promotionDetailTbl tr{
	text-align : left;
}