@charset "UTF-8";

@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

 /*오늘 본 상품 div 시작*/
   #sidebox { 
       text-align: center;
       background-color:#F0F0F0; 
       position:absolute; 
       width:120px; 
       top:300px; 
       right:10px;
       z-index: 5;
       padding-bottom: 5px;
   }
   #sideboxHeader{
       background-color: cornflowerblue;
   }
   #sideboxHeader p{
       color: white;
       font-family: 'Nanum Pen Script', cursive;
   }
   .todayView{
       width: 98px;
       height: 98px;
       margin-bottom: 10px;
   }
   .errow-img{
       width: 20px;
   }
   #sideboxFooter{
       margin-bottom: 10px;
   }
   #todayNothing{
   font-family: 'Nanum Pen Script', cursive;
   }
   
   /*오늘 본 상품 div 끝*/
   
   /*추가*/

	.thisHeight{
		height: 330px;
	}
	.slide-btn > img {
		width: 20px;
		height: 20px;
	}
	#sideBoxFooter{
		display: flex;
	    justify-content: space-between;
	}
	#sideBoxFooter >button {
		border: 0px;
	}
  