@charset "UTF-8";

@font-face {
      font-family: 'SANJUGotgam';
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/SANJUGotgam.woff') format('woff');
      font-weight: normal;
      font-style: normal;
  }

  @font-face {
    font-family: 'OTWelcomeRA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeRA.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}




/*탭 시작*/
#menu-tab {
/*background: white;*/
   font-family: 'trebuchet ms', geneva; 
font-size: 11pt;
color:black;
}
	
#menu-tab a {
color: grey;
font-weight: normal;
font-style: normal;
text-decoration: none;
font-variant: normal;
}

#menu-tab a:hover{
color: green;

}
	
/*--------------Dimensions tableau--------------*/

#page-wrap {
  width: 70%; 
  margin: 10px auto;
  
}
	
/*--------------Onglets--------------*/

.tabs {
  position: relative;   
  min-height: 480px; /* This part sucks */
  clear: both;
  margin: 25px 0;
}
    
.tab {
  float:left
}
    
.tab label {
   background: rgba(170, 185, 185, 0.97);
   padding: 37px;
   border: 1px solid #ccc;
   margin-left: -1px;
   position: relative;
   left: 1px;
   width: 300px;
   text-align: center;
  /*둥근 모양 제거*/
  /* border-radius: 10px 10px 0px 0px;
  box-shadow: 3px -3px 6px rgba(0, 0, 0, 0.71); */
}
.tab label:hover{
	cursor:pointer;
}  
.tab [type=radio] {
  display: none;   
}
	
/*--------------Contenu article onglet--------------*/
.content {
  position: absolute;
  top: 100px;
  left: 0;
  background: white;
  right: 0;
  bottom: 0;
  padding: 20px;
  border: 1px solid #ccc; 
  border-radius: 0px 10px 10px 10px;
  /* box-shadow:6px 6px 10px rgba(0, 0, 0, 0.41); */
  overflow: hidden;
  overflow-y: auto;
  margin-bottom: -20px;
 }
 
.content > * {
  opacity: 0;
  
  -webkit-transform: translate3d(0, 0, 0);

  -webkit-transform: translateX(-100%);
  -moz-transform:    translateX(-100%);
  -ms-transform:     translateX(-100%);
  -o-transform:      translateX(-100%);
  
  -webkit-transition: all 0.0s ease;
  -moz-transition:    all 0.0s ease;
  -ms-transition:     all 0.0s ease;
  -o-transition:      all 0.0s ease;
}

/*-------------Onglets actifs--------------*/

[type=radio]:checked ~ label {
  background: white;
  border-bottom: 1px solid white;
  z-index: 2;
}

[type=radio]:checked ~ label ~ .content {
  z-index: 1;
}

[type=radio]:checked ~ label ~ .content > * {
  opacity: 1;
  
  -webkit-transform: translateX(0);
  -moz-transform:    translateX(0);
  -ms-transform:     translateX(0);
  -o-transform:      translateX(0);
}
/*탭 끝*/  

/*body 전체길이*/
/*탭 top준거 나중에 다시 수정*/
#shopItemDetailOuterDiv{
	position: relative;
    top: 200px;	
	height: 1500px
	
}
/*body 전체길이*/

#itemDetailMenuTabDiv{
	margin-top: 90px;
}

.aReviewDiv{
  margin-left: 40px;
}
.reviewContent{
 width: 900px; 
 margin-right: 10px;
}
.height600{
  height: 600px;
}
.a-question-div{
  width: 95%; 
  margin-left: 40px;
}
#recommendedPicDiv {
  display: flex;
  justify-content: space-evenly;
  
}
#recommendedPicDiv img{
  width: 330px;
  height: 330px;
}
#recommendedPicDiv img:hover {
	cursor: pointer;
}

#infoForARefund h3,h5{
  font-family: 'SANJUGotgam'
  /*상주곶감체*/
}

#infoForARefund  p, #ThirdInfo tr{
  font-family: 'OTWelcomeRA';
}
#itemDetailBicPicDiv img {
	width: 500px;
	height: 500px;
}
#itemDetailSmallPicDiv i {
	font-size: 150px;
}
#priceDiv{
	display: flex;
    justify-content: space-between;
}
#orderBtnDiv{
	display: flex;
    justify-content: center;
	height: 60px;
}
#itemDetailInfoDiv{
	font-size: 18px;
	font-family: 'SANJUGotgam';
}
#priceDiv span{
	font-size: 22px;

}
#itemDetailNameDiv{
    margin-top: 30px;
    height: 125px;
}
#itemDetailNameDiv > p{
	font-size: 30px;
}
#itemDetailInfoDiv {
	width: 570px;
	height: 460px;
}
#itemDetailDisplayDiv{
	width: 1200px;
	margin: auto auto;
}
#itemDetailDisplayDiv{
	display: flex;
    justify-content: space-between;
	height: 520px;
}
.form-select {
	height: 40px;
}
.reviewPhoto > img{
	width: 100px;
	height: 100px;
	border-radius: 10%;
}
.reviewPhoto >img:hover{
	cursor: pointer;
}
.reviewPhoto {
	display: flex;
    flex-direction: column;
    justify-content: center;
}
.reviewProfile >img {
	width: 80px;
	height: 80px;
}
.reviewLikeBtn i:hover{
	cursor: pointer;
}
.tab-span{
	font-family: 'NanumSquareRound';
	font-size: 16px;
}
.item-sort-container{
	font-family: 'NanumSquareRound';
}
#jeju{
	display: flex;
    justify-content: space-between;
}
#jeju >span{
	color: gray;
	font-size: 11px;

}
#jeju  i {
	font-size: 30px;
}
#jeju  i:hover{
	cursor: pointer;
}
#sortBy span:hover{
	cursor: pointer;
}
.forFont{
	font-family: 'NanumSquareRound';
}

.forFont2{
	font-family: 'NanumSquareRound';
}

.forFont2 > span{
	font-size: 18px;
}

.aReviewDiv {
	margin-bottom: 30px;
}
.sub{
	font-size: 20px;
}
#reviewModal{
    top: 711px;
	display: none;
	z-index: 20;
	background: rgba(110, 110, 110,0.9);
    width: 1194px;
    height: 600px;
}
#reviewExpansion{
	width: 450px;
	height: 450px;
	z-index: 350;
	position: relative;
	top: 80px;
	left: 329px;
}
#closeIcon{
    width: 45px;
    position: relative;
    z-index: 355;
    left: 774px;
    bottom: 110px;
    cursor: pointer;
}
#reviewModal{
	position: absolute;
	background: rgba(110, 110, 110,0.9);
    width: 1199.3px;
    height: 600px;
    border-radius: 10px;  
}
#reviewModal:hover{
	cursor:pointer;
}
/*신고모달 css시작*/
.report-btn{
	width: 58px;
	height: 20px;
	padding: 0 0;
	font-size: 10px;
}
.modal-header{
	background-color: #a400d9;
	color: white;
	border-bottom: 10px solid #e9ecef
}
.modal-body{
	font-family: 'NanumSquareRound';
}
.m-body1 >p, .m-body2 >p{
	font-weight: bold;
}
.m-body1 >div{
	background-color: rgb(209, 209, 209);
	padding: 10px 10px;
	font-size: 13px;
	height: 150px;
	overflow-y: scroll;
	overflow-x: hidden
}
#reportId{
	font-weight: bold;
}
#reportHr{
	margin-top: 6px;
	margin-bottom: 6px;
    border-color: white;
}
.checkboxReport{
	background-color: rgb(255, 255, 255);
	position: inherit;
}
#textLength{
    position: absolute;
    bottom: 59px;
    left: 410px;
    color: white;
}
.checkboxReport >form{
	margin: auto;
}
#reportText{
	margin-top: 10px;
	resize: none;
	width: 100%;
	height: 130px;
	border-color: white;
	background-color:rgb(209, 209, 209);
}
.checkboxReport label{
	height: 3px;
}
/*신고모달 css 끝*/

#hr66{
	height: 3px;
    width: 40%;
}
.customer-Q{
	margin-top: 50px;
}

/*문의 작성 모달 css시작*/
.qm-body1 >p, .m-body2 >p{
	font-weight: bold;
}
.qm-body1 >div{
	border: 2px solid rgb(192, 168, 61);
	padding: 10px 10px;
	font-size: 12px;
	height: 80px;
}
.qm-body1  td{
	font-size: 18px;
}

.qm-body1  label{
	height: 7px;
}
#qTitle{
	width: 418px;
}
#qPIc{
	width: 52px;
	height: 52px;
	margin-right: 15px;
	border: 2px solid #cde56b;
}
#qPIc + p {
	font-size: 13px;
}
#qSecret{
	width: 466px;
	height: 50px;
	margin: auto auto;
}
#qItem{
	width: 466px;
	margin: auto auto;
}
#exampleModal3, #exampleModal2, #exampleModal {
	background: rgb(147 144 144 / 74%);
	padding-right:0px !important;
}
.modal-backdrop {
	background-color: rgba(0,0,0,.0001) !important;
}
/*문의 작성 모달 css 끝*/
/*리뷰 작성 모달 css 시작*/
::-webkit-scrollbar { display: none; }

#previewPhoto{
	width: 150px;
	height: 150px;
	margin-bottom: 20px;
}
#reviewPic{
	border: 2px solid salmon;
	padding: 5px 5px;
}
#choosePicP{
	background-color: burlywood; 
	color: white; 
	height: 25px;
}
/*리뷰 작성 모달 css 끝*/

#reviewNone{
	font-family: 'NanumSquareRound';
	font-style: italic;
	margin-left: 10px;
}
.reviewDelBtn{
	height: 26px;
    font-size: 1px;
    position: relative;
    left: 1009px;
    width: 99px;
}