<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mypage">
	<!-- 지원 mapper 시작 -->
	<select id="selectMessageTotalCount" resultType="_int">
		select 
			count(*) 
		from 
			message
		where
			member_no2 = #{member_no2} and read_chk = 'N'
	</select>
	
	<insert id="insertAddress">
		insert into
			address
		values(
			seq_address_no.nextval,
			#{memberNo},
			#{postalCode},
			#{address1},
			#{address2},
			#{mainYn},
			#{title},
			#{addressee},
			#{phone}
		)
	</insert>
	
	<update id="updateAddress">
		update
			address
		set
			postal_code = #{postalCode},
			address1 = #{address1},
			address2 = #{address2},
			main_yn = #{mainYn},
			title = #{title},
			addressee = #{addressee},
			phone = #{phone}
		where
			title = #{title}
	</update>
	
	<delete id="deleteAddress">
		delete
	  		from address
	  	where
  			title = #{title}
	</delete>
	
	<select id="selectAllAddressByMemberNo" resultType="address">
		select 
			*
		from 
			address
		where
			member_no = #{memberNo}
		order by
			address_no desc
	</select>
	
	<select id="selectAddressTotalCount" resultType="_int">
		select 
			count(*)
		from 
			address
		where
			member_no = #{memberNo}
	</select>
	
	<select id="selectOneAddress" resultType="address">
		select 
			*
		from 
			address
		where
			address_no = #{addressNo}
	</select>
	<!-- 지원 mapper 끝 -->
</mapper>