@charset "UTF-8";

/* my info tab */
#tabBtns #myinfoTab {border:1px solid #FFFFFF; background-color:#FFFFFF; color:#1A81FF; box-shadow:-1px 6px 8px 0 rgba(0, 0, 0, 0.5); position:relative; z-index:99;}



/** my page **/
#mypage, #mypage div.row, #mypage article.col-3, #mypage article.col-9 {height:100%;}
#mypage article.col-3 {padding:0 40px; border-right:1px solid #F1F1F2;}
#mypage article.col-9 {padding:0 40px;}

/* member profile */
#profile section:not(:nth-of-type(2)) {text-align:center;}
#profile #profileImg {font-size:100px; position:relative; color:#1A81FF;}
#profile #edit {position:absolute; top:20%; right:32%; width:30px; height:30px;}
#profile #badge {position:absolute; top:2%; left:28%; width:40px; height:40px; background-color:#2ECC71; border:5px solid #2ECC71; border-radius:50%; box-shadow:2px 2px 2px hsl(0deg 0% 0% / 0.38);}
#profile section:nth-of-type(2) p span:first-of-type {color:#1A81FF;}

/** my info **/
#info {margin:0 auto;}
#breadcrumb a {color:#9E9E9E;}
#breadcrumb a:hover {color:#1A81FF;}



