@charset "UTF-8";

/* my info tab */
#tabBtns #myinfoTab {border:1px solid #FFFFFF; background-color:#FFFFFF; color:#1A81FF; box-shadow:-1px 6px 8px 0 rgba(0, 0, 0, 0.5); position:relative; z-index:99;}



/** my info **/
#info {margin:0 auto;}
#breadcrumb a {color:#9E9E9E;}
#breadcrumb a:hover {color:#1A81FF;}

/* address list */
.guide {display:none; font-size:smaller;}
.guide-box {height:0px; width:230px;}

#addressList {margin-bottom:50px;}

#addressList table {border:1px solid rgba(0,0,0,.125);}
#addressList tr:nth-of-type(2) td {color:#1A81FF;}
#addressList tr:not(:last-of-type) {border-bottom:1px solid rgba(0,0,0,.125);}
#addressList td, #addressList th {padding:15px; border:0; vertical-align:middle; text-align:center;}
#addressList td {cursor:pointer;}
#addressList th {color:#000000;}

#addressList tr#noList td {text-align:center;}

.page-item:focus-visible, .page-link:focus-visible {outline:none;}
.page-link:focus {box-shadow:none;}
.page-link {padding:7px 14px;}

/* address detail */
#addressDetail h5 {color:#1A81FF; padding:5px;}

#addressDetail table {border:1px solid rgba(0,0,0,.125);}
#addressDetail tr:not(:last-of-type) {border-bottom:1px solid rgba(0,0,0,.125);}
#addressDetail td, #addressDetail th {padding:10px; border:0; vertical-align:middle;}
#addressDetail th {text-align:center;}
#addressDetail label {margin:0 auto; color:#000000;}
#addressDetail input {border-radius:4px;}
#addressDetail td button {margin-left:10px; border-radius:4px; font-size:16px;}

#addressDetail #btns {margin:35px 35px 20px 35px; flex-wrap:nowrap; justify-content:center;}
#addressDetail #btns button {margin:0 25px;}
