@charset "UTF-8";

/* my community tab */
#tabBtns #mycommunityTab {border:1px solid #FFFFFF; background-color:#FFFFFF; color:#1A81FF; box-shadow:-1px 6px 8px 0 rgba(0, 0, 0, 0.5); position:relative; z-index:99;}



/** my community **/
