@charset "UTF-8";

/* my community tab */
#tabBtns #mycommunityTab {border:1px solid #FFFFFF; background-color:#FFFFFF; color:#1A81FF; box-shadow:-1px 6px 8px 0 rgba(0, 0, 0, 0.5); position:relative; z-index:99;}



/** my community **/

/* tab menu */
#mycommunityTab {padding:0;}
#mycommunityTab .bi::before {vertical-align:unset;}
#mycommunityTab .nav-tabs {margin:0 auto; border:0; padding:0; justify-content:space-evenly;}
#mycommunityTab .nav-item {margin:0 auto; margin-right:15px; margin-left:15px; text-align:center; padding:0;}
#mycommunityTab .nav-link {border:0; color:#9E9E9E; background-color:rgb(0, 0, 0, 0.03); border-radius:2rem; padding:15px; margin-bottom:30px;}
#mycommunityTab .nav-link:hover, #mycommunityTab .nav-link.active {color:#1A81FF; background-color:rgb(26, 129, 255, 0.2);}


/* tab container */
#selectType {margin:0 auto; justify-content:flex-end;}
#selectType select {
	border:1px solid #ced4da; width:120px; height:32px; padding:0 12px;
	background:url('https://i.ibb.co/HxwX9Pj/down.png') no-repeat 95% 50%; /* 네이티브 화살표 대체 이미지와 위치 */
	background-size:15px; font-size:15px;
	-webkit-appearance:none; -moz-appearance:none; appearance:none; /* select태그 네이티브 화살표 감추기 */
}
#selectType select:focus {box-shadow:none;}

#communityList {margin:0 auto; padding:0 15px;}
#communityList table {margin-bottom:50px;}
#communityList tr:hover td {border-bottom:1px solid rgb(26, 129, 255, 0.7); transition:.6s;}
#communityList tr#noList td {height:500px; border:0; text-align:center; vertical-align: middle;}
#communityList td {border:0; border-bottom:1px solid #DEE2E6; padding:25px 5px;}
#communityList td:nth-of-type(2) {text-align:right; color:#9E9E9E;}
#communityList td div:first-of-type {color:#9E9E9E; font-size:14px; padding-bottom:10px;}
#communityList td #postTitle {font-weight:bold;}
#communityList td p {margin:0 auto;}
#communityList span.bi {font-size:14px;}
#communityList span.bi:not(:last-of-type) {padding-right:8px;}
#likeList .bi.bi-heart-fill {color:#1A81FF;}
