@charset "UTF-8";

/** main frame **/
main {height:auto; background:linear-gradient(to bottom, #1A81FF 350px, #FFFFFF 350px); font-family:"Gowun Dodum";}

/** 공통 적용 style **/
.back-to-top {z-index:9999;}

.page-item:focus-visible, .page-link:focus-visible {outline:none;}
.page-link:focus {box-shadow:none;}
.page-link {padding:7px 14px;}

main .bi {font-size:20px; vertical-align:middle;}
main .bi::before {vertical-align:baseline;}
main .bi.bi-chevron-right {color:#A1A1A1; font-size:16px; vertical-align:middle;}
main .cursor {cursor:pointer;}
main button {background-color:#FFFFFF; color:#1A81FF; font-size:17px; border:1px solid #1A81FF; padding:12px; border-radius:21px; line-height:15px;}
main button:focus {outline:none;}
main button:hover {background-color:#1A81FF; color:#FFFFFF; border:1px solid #1A81FF; transition:.3s;}

/** tabContent frame **/
#tabBtns .nav-tabs {justify-content:flex-end; padding:0 20px; border:0;}
#tabBtns .nav-item:focus-visible, a.nav-link:focus-visible {outline:none;}
#tabBtns a.nav-link {width:130px; background-color:#F7F7F7; color:#9E9E9E; border:1px solid #F7F7F7; border-radius:20px 20px 0 0; padding:9px; text-align:center; position:relative; z-index:9;}
#tabBtns .nav-link:hover {background-color:#FFFFFF; color:#1A81FF;}
/* 페이지별로 #tabBtns #탭아이디 {border:1px solid #FFFFFF; background-color:#FFFFFF; color:#1A81FF; box-shadow:-1px 6px 8px 0 rgba(0, 0, 0, 0.5); position:relative; z-index:99;} 코드 추가 */
#tabContainer {height:auto; background-color:#FFFFFF; padding:80px 0; margin:0 auto; position:relative; z-index:999;}

main textarea {resize:none;}
main input::file-selector-button {border:0; padding:2px 6px; margin-right:5px; border-radius:0.25rem; background-color:#E9ECEF;}
main input::file-selector-button:hover {background-color:#1A81FF; color:#FFFFFF; transition:.3s;}

main .modal .modal-dialog {margin-top:100px;}
