@charset "UTF-8";

/* my page tab */
#tabBtns #mypageTab {border:1px solid #FFFFFF; background-color:#FFFFFF; color:#1A81FF; box-shadow:-1px 6px 8px 0 rgba(0, 0, 0, 0.5); position:relative; z-index:99;}



/** my page **/
#mypage, #mypage div.row, #mypage article.col-3, #mypage article.col-9 {height:100%;}
#mypage article.col-3 {padding:0 40px; border-right:1px solid #F1F1F2;}
#mypage article.col-9 {padding:0 40px;}

/* member profile */
#profile section:not(:nth-of-type(2)) {text-align:center;}
#profile #profileImg {font-size:100px; position:relative; color:#1A81FF;}
#profile #edit {position:absolute; top:20%; right:32%; width:30px; height:30px;}
#profile #badge {position:absolute; top:2%; left:28%; width:40px; height:40px; background-color:#2ECC71; border:5px solid #2ECC71; border-radius:50%; box-shadow:2px 2px 2px hsl(0deg 0% 0% / 0.38);}
#profile section:nth-of-type(2) p span:first-of-type {color:#1A81FF;}

/* member grade info */
#myGrade {padding:30px 0; margin-bottom:20px; border-radius:10px;}
#myGrade table tr td:not(:last-of-type) {border-right:1px solid #F1F1F2;}
#myGrade img {width:40px; height:40px;}
#myGrade span {display:block; width:80px; margin:0 auto; border:1px solid black; border-radius:20px; background-color:#66ABFF;}

/* member activity info */
#myActivity {margin:0 auto; margin-bottom:20px; padding:20px 0; border-top:1px solid #F1F1F2; border-bottom:1px solid #F1F1F2; justify-content:space-around;}
#myActivity span.col-6 {justify-content:space-between; align-items:center;}
#myActivity span span:nth-of-type(2) {color:#1A81FF;}

/* event */
#eventBanner {margin:0 auto; margin-bottom:50px;}
#eventBanner img {height:100px; padding:10px; border-radius:18px;}