@charset "UTF-8";
.small-font-size{
	font-size : x-small;
}
#myOrderLog{
	flex-direction : row;
	height : 2.5rem;
}
#myShipment{
	height : 5rem;
}
#myActivity{
	    margin: 0 auto;
    margin-bottom: 20px;
    padding: 20px 0;
    border-top: 1px solid #F1F1F2;
    border-bottom: 1px solid #F1F1F2;
    justify-content: space-around;
}
.shopping-nav-item{
	display : flex;
	justify-content : space-between;
}
.order-title{
	border-bottom : 1px solid rgba(0,0,0,.125);
}
.cart-icon{
	font-size : 20px;
}
#tabBtns #myshoppingTab{border:1px solid #FFFFFF; background-color:#FFFFFF; color:#1A81FF; box-shadow:-1px 6px 8px 0 rgba(0, 0, 0, 0.5); position:relative; z-index:99;}
.search-badge{
	border : 1px solid rgba(0,0,0,.125);
	border-radius : 1.5rem;
	height : 1.5rem;
	width : 4rem;
}
.order-btn{
	border-radius : 0;
	width : 6.5rem;
	height : 1.5rem;
	margin : 3px 0 3px 0;
	padding : 0;
}
.order-btn.order-detail-btn{
	width : 30%;
	height : 2rem;
}
.question-btn{
	color : #007bff;
	font-weight : 700;
}
.order-tab-title{
	font-weight : 700;
	margin-bottom : 2rem;	
}

.order-detail-header{
	border-bottom : 1px solid rgba(0,0,0,.125);
}
.review-detail-header, .question-header{
	border-bottom : 1px solid rgba(0,0,0,.125);
	height : 4rem;
}
#orderPaymentTbl th, #orderPaymentTbl td{
	padding : 10px;
}
.review-img{
	width : 3rem;
}
.review-star{
	font-size : .7rem;
}
.question-item{
	height : 3rem;
}

.point-title{
	height : 4rem;
	border-radius: 1.25rem;
}
.point-btn{
	border-radius: 1.25rem;
	height : 2rem;
	padding : 0;
	width : 30%;
}
.point-badge{
	border : 1px solid rgba(0,0,0,.125);
	color : #9E9E9E;
	border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height : 50px;
}
.point-check-val{
	border-right : 	1px solid rgba(0,0,0,.125);
}
.point-month-group{
	border-top : 1px solid rgba(0,0,0,.125);
	border-bottom : 1px solid rgba(0,0,0,.125);
}
.modal-backdrop.show{
	z-index : -999;
}
.order-img{
	width : 5rem;
	height : 5rem;
}