@charset "UTF-8";


/** main frame **/
main {height:auto; background:linear-gradient(to bottom, #1A81FF 350px, #FFFFFF 350px); font-family:"Gowun Dodum";}

/** 공통 적용 style **/
main .bi {font-size:20px; vertical-align:middle;}
main .bi.bi-chevron-right {color:#A1A1A1; font-size:16px; vertical-align:middle;}
main .cursor {cursor:pointer; cursor:hand;}
main button {background-color:#FFFFFF; color:#1A81FF; font-size:17px; border:1px solid #1A81FF; padding:12px; border-radius:21px; line-height:15px;}
main button:focus {outline:none;}
main button:hover {background-color:#1A81FF; color:#FFFFFF; border:1px solid #1A81FF; transition:.3s;}

/** tabContent frame **/
#tabBtns .nav-tabs {justify-content:flex-end; padding:0 20px; border:0;}
#tabBtns a.nav-link:hover {outline:none; border:1px solid #FFFFFF; background-color:#FFFFFF; color:#1A81FF;}
#tabBtns a.nav-link:focus-visible {outline:none;}
#tabBtns a.nav-link {width:130px; background-color:#F7F7F7; color:#9E9E9E; border:1px solid #F7F7F7; border-radius:20px 20px 0 0; padding:9px; text-align:center; position:relative; z-index:9;}
#tabBtns a.nav-link.active {border:1px solid #FFFFFF; background-color:#FFFFFF; color:#1A81FF; box-shadow:-1px 6px 8px 0 rgba(0, 0, 0, 0.5); position:relative; z-index:99;}
#tabContainer {height:auto; background-color:#FFFFFF; padding:80px 0; margin:0 auto; position:relative; z-index:999;}



/** my info **/
#info {margin:0 auto;}

#breadcrumb a {color:#9E9E9E;}
#breadcrumb a:hover {color:#1A81FF;}

/* member profile */
#myProfile article.col-4 {text-align:center;}
#myProfile #profileImg {font-size:100px; position:relative; color:#1A81FF;}
#myProfile #edit {position:absolute; top:27%; right:27%; width:30px; height:30px;}
#myProfile table td {padding:5px 0;}
#myProfile table td label {margin:0 auto;}
#myProfile table#profileInfo td:first-of-type {color:#1A81FF; padding-right:60px;}
#myProfile table#personalInfo td:first-of-type {color:#7F7F7F; padding-right:50px;}
#myProfile #btns {margin:32px 35px 12px 35px; flex-wrap:nowrap; justify-content:center;}
#myProfile #btns button {margin:0 15px;}