@charset "UTF-8";

/* my info tab */
#tabBtns #myinfoTab {border:1px solid #FFFFFF; background-color:#FFFFFF; color:#1A81FF; box-shadow:-1px 6px 8px 0 rgba(0, 0, 0, 0.5); position:relative; z-index:99;}



/** my info **/
#info {margin:0 auto;}
#breadcrumb a {color:#9E9E9E;}
#breadcrumb a:hover {color:#1A81FF;}



/* member profile */
#myProfile form div.row {justify-content:space-evenly;}
#myProfile article.col-4 {text-align:center;}

/* profileImg */
#myProfile #profileImg {font-size:150px; width:150px; height:150px; position:relative; color:#1A81FF;}
#myProfile #edit {width:85%; margin:0 auto; padding:5px;}

/* profileInfo */
#myProfile #profileInfo div {margin:20px 0;}
#myProfile #profileInfo label {color:#1A81FF;}

/* personalInfo */
#myProfile #personalInfo td {padding:5px 0;}
#myProfile #personalInfo td label {margin:0 auto;}
#myProfile #personalInfo td:first-of-type {color:#7F7F7F; padding-right:50px;}

#myProfile #btns {margin:35px 35px 20px 35px; flex-wrap:nowrap; justify-content:center;}
#myProfile #btns button {margin:0 15px;}


/* withdraw modal */
#withdrawModal .modal-dialog {width:650px;}
#withdrawModal .modal-content {border-radius:7px;}
#withdrawModal .modal-header, .modal-header h5 {align-items:center; background-color:#1A81FF; color:#FFFFFF;}
#withdrawModal .modal-header i {font-size:25px;}
#withdrawModal .modal-body {padding:30px;}
#withdrawModal .modal-body div:not(:last-of-type) {margin-bottom:25px;}
#withdrawModal .modal-body p {margin-bottom:8px; padding:7px 12px; background-color:rgba(0,0,0,.03);}
#withdrawModal #title, #withdrawBtn {justify-content:center;}
