<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="shop">
	<insert id="insertReview">
		insert into 
			review
		values(
			seq_review_no.nextval,
			#{memberNo},
			#{id},
			#{productCode},
			#{content},
			default,
			default,
			#{rate}
		)
		<selectKey keyProperty="reviewNo" resultType="_int" order="AFTER">
			select
				seq_review_no.currval
			from
				dual
		</selectKey>
	</insert>
	
	<insert id="insertAttach">
		insert into
			REVIEW_ATTACHMENT
		values(
			SEQ_REVIEW_ATTACHMENT_NO.nextval,
			#{reviewNo},
			#{originalFilename},
			#{renamedFilename},
			default
		)	
	</insert>
	
	<select id="selectAllReview" resultMap="review">
		select 
		    *
		from
		    review r left join review_attachment a
		    	on r.review_no = a.review_no
		where product_code = #{productCode}
		order by 
			r.reg_date 
		<if test="orderBy == -1">
			desc    
		</if>		    	
	</select>
	
	<resultMap type="review" id="review">
		<id column ="review_no" property ="reviewNo"/>
		<result column ="member_no" property="memberNo"/>
		<result column ="id" property="id"/>
		<result column ="product_code" property="productCode"/>
		<result column ="content" property="content"/>
		<result column ="like_count" property="likeCount"/>
		<result column ="rate" property="rate"/>
		<result column ="reg_date" property="regDate"/>
		<collection property="attach" ofType="Attachment">
			<id column="review_attach_no" property="reviewAttachNo"/>
			<result column ="review_no" property="reviewNo"/>
			<result column="ORIGINAL_FILENAME" property="originalFilename"/>
			<result column="RENAMED_FILENAME" property="renamedFilename"/>
			<result column ="reg_date" property="regDate"/>			
		</collection>
	</resultMap>
	
	<select id="countAllList" resultType="int">
		select 
			count(*)
		from 
			review
		where product_code = #{countAllList}
	</select>
	
	<select id="countPicReviewList" resultType="int">
		select 
		    count(*) 
		from 
		    review r join review_attachment a
		    on r.review_no = a.review_no
		    where product_code = #{productCode}
	</select>
	
	<delete id="reviewDelete">
		delete from review where review_no = #{reviewNo}
	</delete>
	
	<select id="picReviewOnly" resultMap="review">
		select 
		    *
		from
		    review r left join review_attachment a
		    	on r.review_no = a.review_no
		where 
			review_attach_no is not null  and
			product_code = #{productCode} 
		order by 
			r.reg_date desc  	
	</select>
	<select id="CategoryItemAll" resultType="product">
		select 
			* 
		from view_product_parent_category 
		where status ='Y' and 
		parent_category_code = #{parentCate}
	</select>	
	<select id="selectOneAttach" resultType="attachment">
		select 
			*
		from
			review_attachment
		where 
			review_no =#{reviewNo}
	</select>
	
	<select id="selectRecommendation" resultType="productEx">
		select
			*
		from 
			view_product_parent_category
		where 
			child_Category_code = #{childCate}
			and product_code != #{productCode}
	</select>
	
	
	<select id="didIHitLikes" resultType="_int">
		select
			count(*)
		from member_review_like
		where 
			member_no = #{loginMemberNo} and
			review_no = #{reviewNo}
	</select>
		<update id="reviewLikeAdd">
		update 
			review 
		set like_count = like_count +1
		where review_no = #{reviewNo}
		and product_code = #{productCode}
	</update>
	
	<insert id="insertMemberReviewLike">
		insert into 
			member_review_like
		values (#{reviewNo}, #{memberNo})

	</insert>
	
	<delete id="deleteMemberReviewLike">
		delete 
			member_review_like
		where review_no = #{reviewNo}
		and  member_no = #{memberNo}	
	</delete>
	
	<update id="reviewLikeDelete">
		update 
			review
		set 
			like_count = like_count -1
		where review_no = #{reviewNo}
		and product_code = #{productCode} 
	</update>
	
	<select id="refreshCountLike" resultType="_int">
		select
			like_count
		from 
			review
		where review_no = #{reviewNo}
	</select>
</mapper>